DAXUS_EMAIL=
DAXUS_PASSWORD=
NOTION_API_KEY=
NOTION_DATABASE_ID=
SHAREPOINT_EMAIL=
SHAREPOINT_PASSWORD=
SHAREPOINT_SITE_BASE_URL=https://zakidatasas.sharepoint.com/sites/general
SHAREPOINT_COURSES_SERVER_RELATIVE=/sites/general/Documentos compartidos/1. COMUNICACIONES/1.CURSOS
# Use this instead of SHAREPOINT_EMAIL/SHAREPOINT_PASSWORD when the account needs MFA.
SHAREPOINT_STORAGE_STATE_B64=
